html, body {
	height:100%;
	margin: 0; 
    padding: 0;
	-moz-font-feature-settings:"liga=1,dlig=1";
	-ms-font-feature-settings:liga,dlig;
	-o-font-feature-settings:liga,dlig;
	-webkit-font-feature-settings:liga,dlig;
	font-feature-settings:liga,dlig;
	-webkit-text-size-adjust: 100%;
	image-rendering:optimizeQuality;
	font-kerning: normal;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial;
	text-rendering: optimizeLegibility !important;
}
  #markers {
    position: absolute;
    
    left: 50%;
    margin-left: -420px;
   z-index: 999; 
   cursor: pointer;
   box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);
   
   height: 50px;
   margin-top: 20px;
 }
  #markers div {
    width: 100px; 
    font-weight: 600; 
    height: 30px; 
    background-color: #fff; 
    box-shadow: inset 0 0 40px 0px rgba(0,0,0,0.0.4);
    float: left; 
    padding: 15px 10px 5px 10px;
    border-left: 1px solid rgba(0,0,0,0.2);
    text-align: center;    
   }
  #map-canvas { 
    height: 100%;
   }
div {
	display: block;
}
#wrap {
	height: 100%;
}
#wrap > div {
	height: 100%;
	width: 100%;
	padding: 20px;
}
#screen1 {
	background-color: #0c53df;
}
#screen2 {
	background-color: #ffffff;
}
#screen3 {
	background-color: #036532;
}
#title {
	margin: 300px auto 0 auto;
	text-align: center;
	font-size: 80px;
	line-height: 70px;
	font-style: italic;
	color: #ffffff;
}
.object1, .object2 {
	margin: 150px auto;
	width: 100px; 
	height: 100px; 
	background-color: green;
}
.object2 {
	position: relative; 
	right: auto;
}
.object3 {
	width: 500px;
	height: 100px;
	border:1px solid black;
	background-color: white;
	position: relative;
	left: 160px;
}
.object4 {
	position: relative;
	border:1px solid black;
	left: 460px;
	width: 500px;
	height: 100px;
	background-color: white;
}
.popup {
	position: absolute;
	z-index: 999;
	left: 30px;
	display: none;
	top: 100px;
	width: 500px;
	background: white;
	box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);
}
.popup .title {
	text-align: center;
	margin-top: 20px;
	font-size: 20px;
	font-weight: bold;
}
.popup .text {
	margin: 20px 30px;
}
.popup .picture {
	border: 1px solid black;
	width: 90%;
	height: 300px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.popup .picture img {
	width: 100%;
	height: 300px;
	margin: 0 auto;
}
.positionwrap {
	margin: 10px auto;
	box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);
	width: 460px;
	left: 50%;
	margin-left: -200px;
	text-align: center; 
	padding: 10px 20px;
	position: absolute;
	bottom: 30px;
	z-index: 999;
	background: white;
}
.positionwrap a {
	
	height: 10px;
}
.positionwrap .dot {
	display: inline-block;
	border-radius: 100px;
	background: black;
	height: 10px;
	width: 10px;
	margin-right: 10px;
}